/* Shared Colors */
$color-white: #fff;
$color-grey: #efefef;
$teaser-title-color: #333;

/* Gutter */
$gutter: 15px;

/* Break points */
$xl-break-point: 1279px !default;
$l-break-point: 1007px !default;
$m-break-point: 600px !default;

/* fonts */
$title-font: "Playfair Display",
serif;